aniso8601==9.0.1
asgiref==3.5.2
backports.entry-points-selectable==1.1.0
certifi==2022.6.15
Django==3.2.15
Flask==2.1.2
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
virtualenv==20.7.0
Werkzeug==2.0.1
zipp==3.5.0
